.titleHeader {
    width: 100%;
    position: relative;
    display: block;
  }

  body {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8a7664;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3;
  }

  li {
    float: right;
  }

  li a {
    display: inline-block;
    color: #f8ebd5;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    font-size: 26pt;
  }

  .li-divider {
      color: #f8ebd5;
      pointer-events: none;
  }

  li a:hover, a:active {
    color: #BB7251;
  }

  li:not(:last-child):before {
    content: " | ";
    padding: 20px 35px;
    color: #f8ebd5;
    pointer-events: none;
    font-family: 'Trebuchet MS';
    font-size: 26pt;
    text-align: center;
    display: inline-block;
  }