

html {
  scroll-behavior: smooth;
}

.background {
  background-image: url("../img/digital_background.png");
  background-repeat: repeat-y;
  background-size: cover;
  height: 200vh;
  opacity: 0.1;
  z-index: -1;
  position: fixed;
  width: 100%;
}

.banner {
    width: 100%;
    min-height: 30px;
    overflow: hidden;
    background-color: #272B2E;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    font-family: "Proxima Nova",proxima-nova,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
}

.body-content {
    margin-bottom: 15px;
}

.contact__card {
  background-color: lightgray;
  border-radius: 5px;
  padding: 15px;
}

.contact__link {
  display: inline-block;
  width: 15%;
  margin-right: 4%;
}

.custom-footer {
  text-align: center;
}

.description {
    max-width: 1000px;
    margin-left: 19.99px;
    margin-right: 19.99px;
}

@media (min-width: 800px) {
  .description {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-header {
    color: black;
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: -.03125rem;
}

.hero-text {
    color: #272B2E;
    font-size: .875rem;
    line-height: 1.785714286;
}

.hover-underline-menu {
    width: 100%;
  }
  
  .hover-underline-menu .menu {
    background-color: #EFEFEE;
  }
  
  .hover-underline-menu .menu a {
    color: #4E5153;
    padding: 1.2rem 1.5rem;
  }
  
  .hover-underline-menu .menu .underline-from-center {
    position: relative;
  }
  
  .hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #4E5153;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
  }
  
  .hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
  }

  .nav ul {
    list-style: none;
    text-align: center;
 }
 
 .nav ul li {
    display: inline-block;
 }

.large-article-header {
    background: url("../img/newShowcase/getting-started.jp2") center;
    background-size: cover;
    height: 31.25rem;
    position: relative;
  }
  
  @media screen and (max-width: 39.9375em) {
    .large-article-header {
      height: 20.83333rem;
    }
  }
  
  .large-article-header-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 3.125rem;
    left: 0;
    right: 0;
  }
  
  @media screen and (max-width: 39.9375em) {
    .large-article-header-content {
      bottom: 1.25rem;
    }
  }
  
  .large-article-header-content .center-container {
    width: 50%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 39.9375em) {
    .large-article-header-content .center-container {
      width: 100%;
      padding: 0 1.25rem;
    }
  }
  
  .large-article-header-content .article-date {
    color: #fefefe;
  }
  
  .large-article-header-content .article-title h1 {
    line-height: 3.125rem;
    color: #fefefe;
    font-weight: 600;
  }
  
  @media screen and (max-width: 39.9375em) {
    .large-article-header-content .article-title h1 {
      line-height: 1.875rem;
    }
  }
  
  .large-article-header-content .article-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .large-article-header-content .article-details a {
    color: #fefefe;
  }
  
  .large-article-header-content .article-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
  
  .large-article-header-content .article-author img {
    border-radius: 3.125rem;
  }
  
  .large-article-header-content .article-author a {
    margin-left: 1rem;
  }

  * {box-sizing:border-box}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Table sizes */
@media only screen and (max-width: 600px) {
  table.scroll {
    display: block;
  }

  .contact__card {
    padding-bottom: 16%;
    padding-top: 15%;
    margin-bottom: 10px;
  }

  .contact__link-email {
    width: 25% !important;
  }

  .contact__link-facebook {
    width: 19% !important;
  }
}

@media only screen and (min-width: 600px) {
  table.scroll {
    display: inline-table;
  }
  
  #contact-div {
    column-count: 2;
  }

  /* Prices Extras Layout */
  .extras__mobile {
    display: none !important;
  }

  .extras__desktop {
    display: block !important;
  }

  /* Contact Info */
  .contact__card {
    padding-bottom: 14%;
    padding-top: 14%;
  }

  .contact__email {
    display: block !important;
  }

  .contact__link-facebook {
    width: 11% !important;
  }

  .pricing__mobile-hint {
    display: none !important;
  }

  h4 {
    font-size: 2.125rem;
  }
}

@media only screen and (min-width: 1020px) {
  .contact__extra-pic {
    display: block !important;
  }
}

.active {
  background-color: #717171;
}


  
  
  
  
  