<nav
  class="hover-underline-menu scrollhide-nav nav"
  data-menu-underline-from-center
>
  <ul class="menu align-center">
    <li><a href="#gettingStarted">Start</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="#contact">Contact</a></li>
    <li>
      <a
        href="https://www.google.com/maps/uv?pb=!1s0x5499dd06044f4955%3A0x4ee47e8754eedf9e!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipM72LVrLEY2qhFrBsfbZRHNsBufzFPeZjZs5Ey-%3Dw658-h320-k-no!5sGlimpse%20of%20the%20Hunt%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipM72LVrLEY2qhFrBsfbZRHNsBufzFPeZjZs5Ey-&hl=en&sa=X&ved=2ahUKEwjXktvfjJn0AhUPITQIHSLBDpYQoip6BAg4EAM"
        >Gallery</a
      >
    </li>
    <li>
      <a
        href="https://www.google.com/search?q=Glimpse%20of%20the%20Hunt&rlz=1C5CHFA_enUS877US877&sxsrf=AOaemvINLQVU3BP3mmWH80iysN1bxucBQA%3A1636936525146&ei=TauRYayuCMSL9u8P9uqS2A8&oq=glimpse%20of%20the%20hunt&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyCwguEIAEEMcBEK8BMgYIABAWEB4yAggmOgcIABBHELADOgcIABCwAxBDOhAILhDHARDRAxDIAxCwAxBDOgQIABBDOg0ILhCxAxDHARDRAxBDOggIABCABBCxAzoHCAAQsQMQQzoKCC4QxwEQ0QMQQzoECC4QQzoKCAAQgAQQhwIQFDoHCC4QsQMQQzoHCAAQgAQQCjoHCAAQsQMQCjoECAAQCjoHCCMQsQIQJzoECAAQDToECC4QDToHCCMQsAIQJzoFCAAQgAQ6BQguEIAEOhAILhCABBCHAhDHARCvARAUOgcILhCABBAKOggIABAWEAoQHkoFCDgSATFKBAhBGABQ1BBYiSxgiC1oCHACeACAAegDiAGIHJIBCjAuMjIuMC4xLjGYAQCgAQHIAQ3AAQE&sclient=gws-wiz&ved=2ahUKEwj8i_nkj5n0AhUjHzQIHRZDDrEQrMcEegQIAhAF&uact=5&ludocid=5684807749359034270&lsig=AB86z5XvxXjvdDXb9uVGVWlm1C_b#lrd=0x5499dd06044f4955:0x4ee47e8754eedf9e,1,,,"
        >Reviews</a
      >
    </li>
  </ul>
</nav>
