.contact__card {
  background-color: lightgray;
  border-radius: 5px;
  padding-bottom: 14%;
  padding-top: 14%;
  padding: 15px;
}

.contact__link {
  display: inline-block;
  width: 15%;
  margin-right: 4%;
}

.contact__email {
  display: block !important;
}

.contact__link-facebook {
  width: 11% !important;
}

@media only screen and (max-width: 350px) {
  #contact__pic {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  table.scroll {
    display: inline-table;
  }

  #contact-div {
    column-count: 2;
  }

  /* Prices Extras Layout */
  .extras__mobile {
    display: none !important;
  }

  .extras__desktop {
    display: block !important;
  }

  /* Contact Info */
  .contact__card {
    padding-bottom: 14%;
    padding-top: 14%;
  }

  .contact__email {
    display: block !important;
  }

  .contact__link-facebook {
    width: 11% !important;
  }

  .pricing__mobile-hint {
    display: none !important;
  }

  h4 {
    font-size: 2.125rem;
  }
}
