<div id="contact" class="description body-content">
  <div>
    <h1 class="hero-header">Contact</h1>
  </div>
  <div id="contact-div" style="column-count: 2">
    <div class="contact__card">
      <h4>Erick Bond</h4>
      <h5>500 Rainier View Lane</h5>
      <h5>Selah WA, 98942</h5>
      <h5>509-701-6411</h5>
      <h5 class="contact__email" style="display: none">
        glimpseofthehunt@gmail.com
      </h5>
      <div class="contact__link contact__link-email">
        <a href="mailto:glimpseofthehunt@gmail.com">
          <img src="img/email.svg" alt="Email link" />
        </a>
      </div>
      <div class="contact__link contact__link-facebook">
        <a href="https://www.facebook.com/erick.bond.5492">
          <img src="img/facebook.svg" alt="Facebook link" />
        </a>
      </div>
    </div>
    <div class="contact__extra-pic" style="display: none">
      <br />
      <img
        src="img/newShowcase/ericKneelingInTallGrass.jp2"
        alt="Erick Bond owner and founder"
      />
    </div>
    <div id="contact__pic">
      <img
        src="../../assets/images/contact.jpeg"
        alt="Erick Bond owner and
      founder"
      />
    </div>
  </div>
</div>
