div {
  width: 100%;
  min-height: 30px;
  overflow: hidden;
  background-color: #272b2e;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 10px;
  font-family: "Proxima Nova", proxima-nova, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}
