div {
  background-image: url("../../../images/digital_background.png");
  background-repeat: repeat-y;
  background-size: cover;
  height: 200vh;
  opacity: 0.1;
  z-index: -1;
  position: fixed;
  width: 100%;
}
