/* You can add global styles to this file, and also import other style files */
/* Import statements must stay here! */
@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@import url("https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.body-content {
  margin-bottom: 15px;
}

.hero-header {
  color: black;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: -0.03125rem;
}

.hero-text {
  color: #272b2e;
  font-size: 0.875rem;
  line-height: 1.785714286;
}

@media only screen and (min-width: 600px) {
  table.scroll {
    display: inline-table;
  }

  #contact-div {
    column-count: 2;
  }

  /* Prices Extras Layout */
  .extras__mobile {
    display: none !important;
  }

  .extras__desktop {
    display: block !important;
  }

  .pricing__mobile-hint {
    display: none !important;
  }

  h4 {
    font-size: 2.125rem;
  }
}
